// Put your custom CSS styling here

.breadcrumb  .breadcrumb-item{
    background-color: transparent !important;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff8ee !important;
}

.bg-main {
    background-image: url("/img/bg-main.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 350px) {
        background-repeat: repeat;
    }
}

.bg-case-1 {
    background-image: url("/img/bg-case-1.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 350px) {
        background-repeat: repeat;
    }
}

.bg-case-2 {
    background-image: url("/img/bg-case-2.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 350px) {
        background-repeat: repeat;
    }
}

.card {
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

a:hover,
a:visited,
a:focus
{
    text-decoration: none !important;
    color: inherit;
}

.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.25); /* (150% zoom)*/
}

.modal-content {
    border-radius: 25px;
    border: none;
}

.modal-backdrop{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.scrollable{
    overflow-y: auto;
    max-height: 300px;
    font-size: 20px;
}

.highlight {
    background-color: yellow;
}

.scrollable-column{
    overflow-y: auto;
    max-height: 100px;
}

.task {
    display: none;
}

.logo-alternate {
    position: absolute;
    left: 40%;
    max-height: 100px;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 350px) {
        left: 25%;
        max-height: 60px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        left: 30%;
        max-height: 80px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        left: 40%;
        max-height: 100px;
    }
}

.task-description {
    display: none;
}

.login-form {
    background: #ffdcae;
    padding: 258px 0;
}

.container .sel-header {
    position: absolute;
    z-index:500;
    transform: rotate(-20deg);
    display:inline-block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background-color: #f06f5d;
    margin-bottom: 50px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 350px) {
        transform: rotate(0deg);
        position: static;
        margin-bottom: 10px;
        width: 100%;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
        left: 40px;
        top: 60px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        position: static;
        transform: rotate(0deg);
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        left: 30px;
        top: 90px;
        position: absolute;
        transform: rotate(-20deg);
        width: auto;
    }

    // Extra Large devices (desktops, 992px and up)
    @media (min-width: 1440px) {
        position: absolute;
        transform: rotate(-20deg);
        width: auto;
        left: 350px;
        top: 100px;
    }
}

.container .sel-sub-header {
    position: absolute;
    z-index:500;
    display:inline-block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background-color: #f06f5d;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 350px) {
        position: static;
        margin-bottom: 10px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        position: static;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        left: 865px;
        top: 110px;
        position: absolute;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 1440px) {
        left: 1180px;
        top: 110px;
        position: absolute;

    }
}

.sel-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 50px;
    background-color: #fff;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: none;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.9);
}
