// Put your custom CSS styling here

.breadcrumb  .breadcrumb-item{
    background-color: transparent !important;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff8ee !important;
}

.bg-main {
    background: url("/img/bg-main.jpg") !important;
}

.bg-case-1 {
    background: url("/img/bg-case-1.jpg") !important;
}

.card {
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

a:hover,
a:visited,
a:focus
{
    text-decoration: none !important;
    color: inherit;
}

.zoom {
    padding: 50px;
    transition: transform .2s; /* Animation */
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.25); /* (150% zoom)*/
}

.modal-content {
    border-radius: 25px;
    border: none;
}

.modal-backdrop{
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.scrollable{
    overflow-y: auto;
    max-height: 300px;
}

.scrollable-column{
    overflow-y: auto;
    max-height: 100px;
}

.task {
    display: none;
}

.login-form {
    background: #ffdcae;
    padding: 258px 0;
}

.container .sel-header {
    position: absolute;
    z-index:10;
    left: 350px;
    top: 100px;
    transform: rotate(-20deg);
    display:inline-block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background-color: #f06f5d;
    margin-bottom: 50px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;

    // Small devices (landscape phones, 576px and up)
    @media (max-width: 576px) {
        position: static;
    }

    // Medium devices (tablets, 768px and up)
    @media (max-width: 768px) {
        left: 100px;
        top: 75px;
    }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        left: 80px;
        top: 60px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        left: 350px;
        top: 100px;
    }
}

.container .sel-sub-header {
    position: absolute;
    left: 1175px;
    top: 110px;
    z-index:10;
    display:inline-block;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 100px;
    background-color: #f06f5d;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}

.sel-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    margin-bottom: 1.5rem;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 50px;
    background-color: #fff;
    border: none;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
